<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IntentPhrases</key>
	<array>
		<dict>
			<key>IntentName</key>
			<string>INAddTasksIntent</string>
			<key>IntentExamples</key>
			<array>
				<string>Add walk the dog to the Tomorrow list in Conveyor.</string>
				<string>Add mow the lawn to Later list in Conveyor.</string>
				<string>Add pay the bills to the Today list in Conveyor.</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
